@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Itim&family=Sacramento&display=swap');
.logo {
	font-size: 2.5em;
	text-align: center;
	margin: 35px;
	width: 100px;
}
.body {
	font-family: 'Georgia', serif;
	background-color: #cc9c6c;
}


.container-fluid {
	font-family: 'Playfair Display', serif;
	background-color: #cc9c6c;
	height: 88px;
}

.dropdown-menu {
	font-family: 'Playfair Display', serif;
	background-color: #c99142;
}

.avatar {
	
}

.avatarimg {
	width: 200px;
    height: 200px;
}

.cookies {
	font-family: 'Sacramento', cursive;
	margin-top: 10px;
	margin-left: 10px;
}
.infonos{
	margin: 10px;
	text-align: center;
  border: 2px solid #7f4e24;
  border-radius: 88px;
  background-color: #a36b2c;
  font-size: 18px

}

.container-fluid {
	height: 100px;
}
	


.box{
  margin: 50px;
  padding: 25px;
  border: 2px solid #7f4e24; 
  background-color: #c99142;
  
}

.xar {

	width: 800px;
	margin: auto;
	border: 2px solid #7f4e24;
}

.xar img{
	width: 300px;
	height: 100%;
	object-fit: cover;
}

.nos1 {
	margin: 10px;
	text-align: center;
	background-color: #a36b2c;
	color: #351d14;
	font-weight: 888;
}

.nos2 {
	margin: 10px;
	display: flex; 
	justify-content: center;
	align-items: stretch;
	background-color: #a36b2c;
	color: #351d14;
	font-style: italic;
}
.title1 {
	font-size: 88px;
	text-align: center;
	display: flex; justify-content: center;
	color: #351d14;
	font-family: 'DM Serif Text', cursive;
	margin-bottom: 0px;

}

.navbar {
	background-color: #cc9c6c;
}

.avatares {
	display: flex; 
	justify-content: center;
	flex-wrap: wrap;
	size: 20%;
}

.title {
	background-color: #a36b2c;
	text-align: center;
}

.title2 {
	font-size: 44px;
	text-align: center;
	display: flex; justify-content: center;
	margin-bottom: 0px;
	color: #351d14;
	font-family: 'Itim', cursive;
	background-color: #c99142;
}
.img {
	margin: auto; display: block;
	width: 500px;
    height: 500px;
    border: 2px;
    border-color: #7f4e24; 

}

.navbar{padding: 0 !important; height:100px}

.productos{
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-around;
}

.galle {
	text-align:  center;
	align-items: center;
	border: 2px solid #7f4e24;
	margin-bottom: 25px;
	width: 20%;
	background-color: #a36b2c;
	
}

.galleimg {
	width: 150px;
	object-fit: cover;
    height: auto;
}

.galleimg1 {
	width: 150px;
	object-fit: cover;
    height: 300px;
}

.galleimg2 {
	width: 150px;
	object-fit: cover;
    height:275px;
}

.galleimg3 {
	width: 150px;
	object-fit: cover;
    height: 270px;
}


.IG {
	height: 30px;
	width: auto;
}

/*inicia responsive*/

@media (width <= 992px) {
	.logo {
		margin: 0px;
		display: block;
		margin:0 0 10px 0;
	}
	.navbar{padding: 0 !important; height:100px}

	.xar {
		width: 90% !important;
		height: 
	}

	.texto{
	padding-right: 0!important;
		padding-left: 0!important;
	}

	.fraimg1 {
	width: 250px !important;
	height: 300px !important;
}


}



@media (width <= 768px) {
	.galle {
		width: 50%;
	}

	.xar {width: 90% !important;
		height: auto;
		}

		.produ {
    width: 88% !important;
    }

.galle {
	width: 45%;
}

.galleimg {
	width: 150px;
	object-fit: cover;
    height: auto;
}

.galleimg1 {
	width: 250px;
	object-fit: cover;
    height: 300px;
}

.galleimg2 {
	width: 250px;
	object-fit: cover;
    height:300px;
}

.galleimg3 {
	width: 150px;
	object-fit: cover;
    height: 270px;
}
}

@media (width <= 480px) {
	.galle {
		width: 100%;
	}
	#carouselExample {
		width: 100%;
	}
	.xar{
	width: 90%;
    height: 90%}

    .produ {
width: 100%;
    }

    .fraimg1 {
    	width: 300px !important;

    	height: auto !important;
    }

	.infonos {font-size: 12px;}

	.avatarimg {
		width: 250px;
		height: 250px;
	}
	.title1 {font-size: 66px;}
	.title2 {font-size: 44px;}

	.nos1 {font-size: 18px;}

	.nos2 {font-size: 18px;}

	.avatares {display: flex; justify-content: space-around;}

    .texto {
    	padding-left: 2px !important;
    	padding-right:2px;
    	margin-right: 2px;
    }

.galleimg {
	width: 150px;
	object-fit: cover;
    height: auto;
}

.galleimg1 {
	width: 250px;
	object-fit: cover;
    height: 300px;
}

.galleimg2 {
	width: 250px;
	object-fit: cover;
    height:275px;
}

.galleimg3 {
	width: 150px;
	object-fit: cover;
    height: 270px;
}

}


.desc {
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #351d14;
	font-weight: 800;
	background-color: #c99142;
	text-align: center;
	font-size: 18px;
	font-style: italic;
}

h1{
	text-align: center;
	background-color: #a36b2c;
	color: #351d14;
	font-weight: 800;
	font-style: italic;
	padding-bottom: 5px;
}

.t {
    text-align: center;
	background-color: #a36b2c;
	color: #351d14;
	font-weight: 800;
	font-style: italic;
	padding-bottom: 5px;
	 border-radius: 88px;
	 border: 2px solid #7f4e24;

}

.texto {
	color: #351d14;
	background-color: #c99142;
	margin-bottom: 25px;
	padding-right: 88px;
	padding-left: 50px;
	text-align: justify;
	font-size: 18px;
}


.texto1 {
	color: #351d14;
	background-color: #c99142;
	padding-right: 88px;
	padding-left: 50px;
	text-align: justify;
	font-size: 18px;


}

.nav-item {
	border-radius: 88px;
	 border: 2px solid #7f4e24;
	 background-color: #a36b2c;
	 margin-right: 18px;
	 font-size: 18px;
	     color: #351d14;
}

.navbar-nav {
	color: #351d14;
}

.dropdown-menu {
	background-color: #a36b2c;
}

.dropdown-item {
	border-radius: 88px;
	background-color: #c99142;
	margin-bottom: 8px;
	text-align: center;
	color: #351d14;
}

ul {
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-bottom: 10px;
	text-align: justify;
	color: #351d14;
	list-style-type: disc;
	font-size: 18px;
	font-style: italic;
}


.tamano {
	font-size: 24px;
	font-weight: 800;

}

.tam {
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-bottom: 10px;
	text-align: justify;
	color: #351d14;
	list-style-type: disc;
	font-size: 18px;
	font-style: italic;

}

.prod {
	display: flex;
	flex-direction: column;
    align-items: center;
	margin-bottom: 10px;
}

.frascos {
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-around;
	margin-bottom: 25px;
}

.produ {
    text-align:  center;
	align-items: center;
	border: 2px solid #7f4e24;
	margin-bottom: 25px;
	width: 30%;
	background-color: #a36b2c;
}

.fraimg {

    width: 155px;
    height: 300px;

}

.fraimg1 {
   height: 300px;
    width:  auto;
}

.fradesc {
    margin: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #351d14;
	font-weight: 800;
	background-color: #c99142;
	text-align: center;
	font-size: 15px;
	font-style: italic;
}