@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text&family=Itim&family=Sacramento&display=swap');
.logo {
	font-size: 2.5em;
	text-align: center;
	margin: 35px;
	width: 100px;
}
.body {
	font-family: 'Georgia', serif;
	background-color: #cc9c6c;
}


.container-fluid {
	font-family: 'Playfair Display', serif;
	background-color: #cc9c6c;
	height: 88px;
}

.dropdown-menu {
	font-family: 'Playfair Display', serif;
	background-color: #c99142;
}

.avatarimg {
	width: 200px;
    height: 200px;
}

.cookies {
	font-family: 'Sacramento', cursive;
	margin-top: 10px;
	margin-left: 10px;
}
.infonos{
	margin: 10px;
	border: 2px solid #7f4e24;
	border-radius: 88px;
	background-color: #a36b2c;

}

.avatar {
	
}

.box{
  margin: 50px;
  padding: 25px;
  border: 2px solid #7f4e24; 
  background-color: #c99142;
  
}

.xar {

	width: 400px;
	margin: auto;
	border: 2px solid #7f4e24;
}

.xar img{
	width: 300px;
	height: 400px;
	object-fit: cover;
}

.nos1 {
	margin: 10px;
	display: flex; 
	justify-content: center;
	align-items: stretch;
	background-color: #a36b2c;
	color: #351d14;
	font-weight: 888;
}

.nos2 {
	margin: 10px;
	display: flex; 
	justify-content: center;
	align-items: stretch;
	background-color: #a36b2c;
	color: #351d14;
	font-style: italic;
}
.title1 {
	font-size: 88px;
	text-align: center;
	display: flex; justify-content: center;
	color: #351d14;
	font-family: 'DM Serif Text', cursive;
	margin-bottom: 0px;

}

.KEKS {
	
}

.avatares {
	display: flex; 
	justify-content: space-between;
	flex-wrap: wrap;
}

.title {
	background-color: #a36b2c;
	text-align: center;
}

.title2 {
	font-size: 44px;
	text-align: center;
	display: flex; justify-content: center;
	margin-bottom: 0px;
	color: #351d14;
	font-family: 'Itim', cursive;
	background-color: #c99142;
}
.img {
	margin: auto; display: block;
	width: 500px;
    height: 500px;
    border: 2px;
    border-color: #7f4e24; 

}

.productos{
	display: flex;
	flex-wrap: wrap;
	align-items: space-between;
	justify-content: space-around;
}

.galle {
	text-align:  center;
	align-items: center;
	border: 2px solid #7f4e24;
	margin-bottom: 25px;
	width: 40%;
}

.galleimg {
	width: 100%;
    height: auto;
}

/*inicia responsive*/

@media (width < 768px) {
	.galle {
		width: 50%;
	}
}

@media (width < 480px) {
	.galle {
		width: 100%;
	}
	#carouselExample {
		width: 100%;
	}
	.xar {width: 100%;}

	.avatar {width: 100%;}

	.infonos {font-size: 12px;}

	.avatarimg {
		width: 150px;
		height: 150px;
	}
	.title1 {font-size: 44px;}
	.title2 {font-size: 22px;}


}


.desc {
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #351d14;
}

h1{
	text-align: center;
	background-color: #a36b2c;
	color: #351d14;
	font-weight: 800;
	font-style: italic;
}

p {
	color: #351d14;
	background-color: #c99142;
	margin-bottom: 25px;
}